[package]
name = "nuts-rs"
version = "0.4.1"
authors = ["Adrian Seyboldt <adrian.seyboldt@gmail.com>"]
edition = "2021"
license = "MIT"
repository = "https://github.com/pymc-devs/nuts-rs"
keywords = ["statistics", "bayes"]
description = "Sample from unnormalized densities using Hamiltonian MCMC"

[profile.release]
debug = true
lto = "fat"
opt-level = 2
codegen-units = 1

[profile.bench]
debug = true
lto = "fat"
opt-level = 2
codegen-units = 1

[dependencies]
rand = { version = "0.8.5", features = ["small_rng"] }
rand_distr = "0.4.3"
multiversion = "0.7.0"
itertools = "0.10.3"
crossbeam = "0.8.1"
thiserror = "1.0.31"
rayon = "1.5.3"
ndarray = "0.15.4"
arrow2 = { version = "0.17.0", optional = true }

[dev-dependencies]
proptest = "1.0.0"
pretty_assertions = "1.2.1"
criterion = "0.4.0"
nix = "0.26.1"
approx = "0.5.1"

[[bench]]
name = "sample"
harness = false

[features]
nightly = ["simd_support"]
default = ["arrow"]

simd_support = []
arrow = ["dep:arrow2"]
